*{
  margin: 1;
  padding: 1;
  box-sizing: content-box;
}

/* NaviBar*/
.NaviBar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red inherit;
}
.NaviBar ul{
  display: flex;
  list-style: none;
  margin: 36px 0px;
}
