*{
  margin: 1;
  padding: 1;
  box-sizing: content-box;
}

/* NaviBar*/
.NaviBar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.5);
  position: sticky;
  top: 0;

}
.NaviBar ul{
  display: flex;
  list-style: none;
  margin: 36px 0px;
}
.navbar.ul li{
  font-family: century;
  font-weight :bold;
}
.NaviBar ul li a{
  text-decoration: none;
  color: white;
  padding: 8px 25px;
  transition: all .5s ease;
}
.NaviBar ul li a:hover{}
